@font-face {
  font-family: "business"; /* Project id 2526275 */
  src: url('iconfont.woff2?t=1679452410199') format('woff2'),
       url('iconfont.woff?t=1679452410199') format('woff'),
       url('iconfont.ttf?t=1679452410199') format('truetype');
}

.business {
  font-family: "business" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.business-PurchaseOrder:before {
  content: "\e9e4";
}

.business-cangchuxianggang-01:before {
  content: "\e9e2";
}

.business-suggest:before {
  content: "\e9e1";
}

.business-consult:before {
  content: "\e9df";
}

.business-Sale-01:before {
  content: "\e9dd";
}

.business-Add:before {
  content: "\e9db";
}

.business-More:before {
  content: "\e9d8";
}

.business-update2:before {
  content: "\e9d7";
}

.business-estimate:before {
  content: "\e9d2";
}

.business-pending-review2:before {
  content: "\e9cc";
}

.business-lianyun2-01:before {
  content: "\e9c8";
}

.business-gongyingshangxinxi-01:before {
  content: "\e9c5";
}

.business-kehuwuliaobaogui-01:before {
  content: "\e9c6";
}

.business-baoguan-01:before {
  content: "\e9c7";
}

.business-Money:before {
  content: "\e9c4";
}

.business-container-information-copy:before {
  content: "\e9ae";
}

.business-Material-query:before {
  content: "\e9b8";
}

.business-Material-list:before {
  content: "\e9b9";
}

.business-Evaluation-A:before {
  content: "\e9b6";
}

.business-Evaluation-B:before {
  content: "\e9b7";
}

.business-FPup-01:before {
  content: "\e9b5";
}

.business-a-4PL-3-01:before {
  content: "\e9b4";
}

.business-Addservices:before {
  content: "\e9af";
}

.business-cangchuxiadan-01:before {
  content: "\e9ac";
}

.business-cangchuxiadan-01-copy:before {
  content: "\e9e3";
}

.business-Consignment:before {
  content: "\e770";
}

.business-shuliang_mianxing:before {
  content: "\e61c";
}

.business-dabao-01:before {
  content: "\e9a7";
}

.business-toExamine:before {
  content: "\e9a6";
}

.business-weiwancheng:before {
  content: "\e9a1";
}

.business-caogao:before {
  content: "\e99d";
}

.business-yixiafa:before {
  content: "\e99e";
}

.business-daigengxin:before {
  content: "\e99f";
}

.business-daishenhe:before {
  content: "\e9a0";
}

.business-yunshujiaotong_kuaidiwenjian:before {
  content: "\e98c";
}

.business-eVMI:before {
  content: "\e98a";
}

.business-RMA-upload:before {
  content: "\e989";
}

.business-RMA1:before {
  content: "\e988";
}

.business-Urgent:before {
  content: "\e987";
}

.business-jidan-01:before {
  content: "\e97e";
}

.business-RMA:before {
  content: "\e97d";
}

.business-Process:before {
  content: "\e97c";
}

.business-dataExchange:before {
  content: "\e97b";
}

.business-SCM-ASNlist:before {
  content: "\e976";
}

.business-customs-tracking:before {
  content: "\e942";
}

.business-in-transit:before {
  content: "\e943";
}

.business-outbound-delivery:before {
  content: "\e944";
}

.business-shipping-notice:before {
  content: "\e945";
}

.business-receiving-warehousing:before {
  content: "\e946";
}

.business-port-warehouse-transit:before {
  content: "\e948";
}

.business-delivery-schedule:before {
  content: "\e949";
}

.business-Look:before {
  content: "\e968";
}

.business-Finish:before {
  content: "\e962";
}

.business-TobeAllocated:before {
  content: "\e963";
}

.business-Not-submitted:before {
  content: "\e964";
}

.business-Rejected:before {
  content: "\e965";
}

.business-Waiting-list:before {
  content: "\e966";
}

.business-Tobe-issued:before {
  content: "\e967";
}

.business-FCST:before {
  content: "\e93f";
}

.business-LSP:before {
  content: "\e93e";
}

.business-Zoom:before {
  content: "\e93d";
}

.business-Update:before {
  content: "\e93c";
}

.business-Cross-Dock-Service:before {
  content: "\e938";
}

.business-Cross-Dock-Query:before {
  content: "\e93b";
}

.business-Outbound-Order:before {
  content: "\e939";
}

.business-Inbound-Order:before {
  content: "\e93a";
}

.business-Hander:before {
  content: "\e937";
}

.business-ASNup:before {
  content: "\e936";
}

.business-Coordination:before {
  content: "\e935";
}

.business-fold-close:before {
  content: "\e934";
}

.business-application:before {
  content: "\e933";
}

.business-products-services:before {
  content: "\e932";
}

.business-exception-list:before {
  content: "\e928";
}

.business-po-company:before {
  content: "\e929";
}

.business-po-booking:before {
  content: "\e92a";
}

.business-po-rule:before {
  content: "\e92b";
}

.business-po-buyer:before {
  content: "\e92c";
}

.business-transit:before {
  content: "\e92d";
}

.business-po-visual:before {
  content: "\e92e";
}

.business-po-verify:before {
  content: "\e92f";
}

.business-pvbr:before {
  content: "\e930";
}

.business-vendor:before {
  content: "\e931";
}

.business-transportation-shelf-tracking:before {
  content: "\e91d";
}

.business-transport-waybill:before {
  content: "\e91e";
}

.business-mlb2-save:before {
  content: "\e91f";
}

.business-mlb2-user-tags:before {
  content: "\e920";
}

.business-mlb2-tenant-in-charge:before {
  content: "\e921";
}

.business-mlb2-user-center:before {
  content: "\e922";
}

.business-mlb2-data:before {
  content: "\e923";
}

.business-mlb2-empower:before {
  content: "\e924";
}

.business-mlb2-configure:before {
  content: "\e925";
}

.business-mlb2-organization-and-staff:before {
  content: "\e926";
}

.business-mlb2-tenant:before {
  content: "\e927";
}

.business-dynamic-inventory-list:before {
  content: "\e913";
}

.business-dynamic-inventory-receipt:before {
  content: "\e914";
}

.business-static-inventory-outbound-order:before {
  content: "\e915";
}

.business-static-inventory-receipt:before {
  content: "\e916";
}

.business-dynamic-inventory-outgoing-list:before {
  content: "\e917";
}

.business-static-inventory-list:before {
  content: "\e918";
}

.business-business-customer:before {
  content: "\e919";
}

.business-business-basic-information:before {
  content: "\e91a";
}

.business-business-purchasing:before {
  content: "\e91b";
}

.business-business-sales:before {
  content: "\e91c";
}

.business-4pl-order-tracking:before {
  content: "\e90c";
}

.business-report-quantity:before {
  content: "\e90d";
}

.business-report-statistics:before {
  content: "\e90e";
}

.business-report-on-time:before {
  content: "\e90f";
}

.business-4pl-order-management:before {
  content: "\e910";
}

.business-report-node-aging:before {
  content: "\e911";
}

.business-4pl-service-provider-management:before {
  content: "\e912";
}

.business-master-order-report:before {
  content: "\e903";
}

.business-master-order-inventory-inquiry:before {
  content: "\e904";
}

.business-master-bill-reconciliation:before {
  content: "\e905";
}

.business-master-order-warehouse-collaboration:before {
  content: "\e906";
}

.business-master-order-commercial-customers:before {
  content: "\e907";
}

.business-master-order-shipping-inquiry:before {
  content: "\e908";
}

.business-master-order-homepage-general:before {
  content: "\e909";
}

.business-master-order-on-order:before {
  content: "\e90a";
}

.business-master-order-pom:before {
  content: "\e90b";
}

.business-header-message:before {
  content: "\e8fd";
}

.business-header-help-center:before {
  content: "\e8fe";
}

.business-header-en:before {
  content: "\e8ff";
}

.business-header-zh:before {
  content: "\e900";
}

.business-header-information:before {
  content: "\e901";
}

.business-header-qr-code:before {
  content: "\e902";
}

.business-failure:before {
  content: "\e8fa";
}

.business-success:before {
  content: "\e8fb";
}

.business-unusual:before {
  content: "\e8fc";
}

.business-through:before {
  content: "\e8f8";
}

.business-fail:before {
  content: "\e8f9";
}

.business-fail2-copy:before {
  content: "\e9ba";
}

.business-my-feedback:before {
  content: "\e8ef";
}

.business-view:before {
  content: "\e8f0";
}

.business-road-line:before {
  content: "\e8f1";
}

.business-password-show:before {
  content: "\e8f2";
}

.business-password-close:before {
  content: "\e8f3";
}

.business-voice:before {
  content: "\e8f4";
}

.business-historical-trajectory:before {
  content: "\e8f5";
}

.business-unsubmitted:before {
  content: "\e8f6";
}

.business-pending-approval:before {
  content: "\e8f7";
}

.business-view-copy:before {
  content: "\e9ad";
}

.business-help:before {
  content: "\e8ee";
}

.business-header:before {
  content: "\e8ed";
}

.business-shelf:before {
  content: "\e8e4";
}

.business-map-position:before {
  content: "\e8e5";
}

.business-milestones:before {
  content: "\e8e6";
}

.business-intermodal:before {
  content: "\e8e7";
}

.business-third-party:before {
  content: "\e8e8";
}

.business-enterprise:before {
  content: "\e8e9";
}

.business-open:before {
  content: "\e8ea";
}

.business-close:before {
  content: "\e8eb";
}

.business-monitor:before {
  content: "\e8ec";
}

.business-bind:before {
  content: "\e8d9";
}

.business-role-management:before {
  content: "\e8da";
}

.business-template:before {
  content: "\e8db";
}

.business-other-files:before {
  content: "\e8dc";
}

.business-organization:before {
  content: "\e8dd";
}

.business-line:before {
  content: "\e8de";
}

.business-amount:before {
  content: "\e8df";
}

.business-key:before {
  content: "\e8e0";
}

.business-value-added-services:before {
  content: "\e8e1";
}

.business-organization-and-employees:before {
  content: "\e8e2";
}

.business-express-delivery:before {
  content: "\e8e3";
}

.business-save:before {
  content: "\e8ca";
}

.business-export-information:before {
  content: "\e8cb";
}

.business-pending:before {
  content: "\e8cc";
}

.business-import-and-export-goods-details:before {
  content: "\e8cd";
}

.business-import-and-export-booking-information:before {
  content: "\e8ce";
}

.business-import-and-export-customs-details:before {
  content: "\e8cf";
}

.business-import-and-export-commodity-inspection-information:before {
  content: "\e8d0";
}

.business-task-center:before {
  content: "\e8d1";
}

.business-import-and-export-transaction-information:before {
  content: "\e8d2";
}

.business-demand-tracking:before {
  content: "\e8d3";
}

.business-log-management:before {
  content: "\e8d4";
}

.business-file-service:before {
  content: "\e8d5";
}

.business-application-pool:before {
  content: "\e8d6";
}

.business-void:before {
  content: "\e8d7";
}

.business-tenant-center:before {
  content: "\e8d8";
}

.business-withdraw:before {
  content: "\e8a0";
}

.business-successful-and-effective:before {
  content: "\e8a1";
}

.business-packing-list:before {
  content: "\e8a2";
}

.business-import:before {
  content: "\e8a3";
}

.business-export:before {
  content: "\e8a4";
}

.business-warning-red:before {
  content: "\e8a5";
}

.business-annex:before {
  content: "\e8a6";
}

.business-contract:before {
  content: "\e8a7";
}

.business-processing-records:before {
  content: "\e8a8";
}

.business-process-management:before {
  content: "\e8a9";
}

.business-pending-review:before {
  content: "\e8aa";
}

.business-delivery-date-management:before {
  content: "\e8ab";
}

.business-warning:before {
  content: "\e8ac";
}

.business-other:before {
  content: "\e8ad";
}

.business-invoice:before {
  content: "\e8ae";
}

.business-failed-invalid:before {
  content: "\e8af";
}

.business-file-upload:before {
  content: "\e8b0";
}

.business-rule:before {
  content: "\e8b1";
}

.business-order:before {
  content: "\e8b2";
}

.business-time:before {
  content: "\e8b3";
}

.business-filter:before {
  content: "\e8b4";
}

.business-user:before {
  content: "\e8b5";
}

.business-file-package:before {
  content: "\e8b6";
}

.business-mail-send:before {
  content: "\e8b7";
}

.business-date:before {
  content: "\e8b8";
}

.business-reset-password:before {
  content: "\e8b9";
}

.business-file-add:before {
  content: "\e8ba";
}

.business-asn:before {
  content: "\e8bb";
}

.business-engine-management:before {
  content: "\e8bc";
}

.business-list-operation:before {
  content: "\e8bd";
}

.business-file-download:before {
  content: "\e8be";
}

.business-customize:before {
  content: "\e8bf";
}

.business-arn-edit:before {
  content: "\e8c0";
}

.business-configuration-api-processing:before {
  content: "\e8c1";
}

.business-asn-upload:before {
  content: "\e8c2";
}

.business-bill-lading:before {
  content: "\e8c3";
}

.business-asn-edit:before {
  content: "\e8c4";
}

.business-unusual-red:before {
  content: "\e8c5";
}

.business-single-transport:before {
  content: "\e8c6";
}

.business-asn-management:before {
  content: "\e8c7";
}

.business-asn-wait:before {
  content: "\e8c8";
}

.business-cloud-host:before {
  content: "\e8c9";
}

